@import 'partials/normalize';
@import 'partials/font';

body {
    font-family: "open_sansregular";
    background: #33C2D0 url(images/pattern.png) repeat;
    color: #fff;
}

header, #main, footer {
    padding: 20px 0;
    text-align: center;
}

header {
    font-size: 32px;
    line-height: 1;
    a {
        color: #FEAF29;
        text-decoration: none;
        text-transform: capitalize;
    }
}

footer {
    img {
        max-height: 80px;
        vertical-align: middle;
        margin-right: 30px;
    }
}
